// Webpage Styles Reset
// Import base reset code
@forward "./base/reset";

// Import Base variables
@forward "./base/variables";

// Use Primary Utility Variables
@use "./utils/primary-variables" as variables;


// Mixins for Button
@mixin primary-button($color) {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    background-color: $color;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}


body {
    background-color: variables.$primary-color;
}

h1 {
    font-size: variables.$primary-heading;
}

// Nav Section Styles

nav {
    background-color: cadetblue;

    ul {
        list-style: none;

        li {
            margin: 0 10px;
            display: inline-block;
            padding: 10px;

            a {
                text-decoration: none;
                color: white;
                font-size: 22px;
                transition: 0.4s;
                border-radius: 15px;
                display: inline-block;
                // background-color: black;
                padding: 10px 15px;

                &:hover {
                    background-color: black;
                }
            }
        }
    }

}

p {
    font-size: variables.$base_text;

}

// Mixin to include
.click {
    @include primary-button(violet);

}

.order {
    @include primary-button(chocolate);
}

// Extend
.primary-button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    color: white;
    border: 0;
    border-radius: 20px;
}

// Extend in another class
.green-button {
    @extend .primary-button;
    background-color: green;
}

.red-button {
    @extend .primary-button;
    background-color: red;
}

// Working with Conditional Control Statement
@mixin setButtonColor($color) {
    @if $color ==success {
        background-color: #3a86ff;
    }

    @else if $color ==warning {
        background-color: #bc6c25;
    }

    @else if $color ==danger {
        background-color: #e63946;
    }

    @else {
        background-color: #219ebc;
    }
}

@mixin simpleButton {
    font-size: 20px;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 20px;
    border: none;
    cursor: pointer;
}

.success {
    @include simpleButton;
    @include setButtonColor(success)
}

.warning {
    @include simpleButton;
    @include setButtonColor(warning)
}

.danger {
    @include simpleButton;
    @include setButtonColor(danger)
}

.normal {
    @include simpleButton;
    @include setButtonColor(normal)
}

// Working with Looping in SASS
[class*="col-"] {
    float: left;
    background-color: red;
    margin: 10px 0;
    padding: 10px;
    color: wheat;
    font-size: 20px;
    text-align: center;
    border: 2px solid slateblue;
    display: inline-block;
}


// While Loop
$i: 1;

@while $i < 12 {
    .col-#{$i} {
        width: 100% / 12 * $i;
    }

    $i: $i + 1;
}

.row::after {
    clear: both;
}

// Working with @each loop
$colors: green, red, yellow, blue;

@each $color in $colors {
    .#{$color}-heading {
        color: $color;
    }
}