// Webpage Styles Reset

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Declaring primary variables
$primary-color: #ffb7c3;
$primary-heading: 48px;


body {
    background-color: $primary-color;
}

h1 {
    font-size: $primary-heading;
}

// Nav Section Styles

nav {
    background-color: cadetblue;

    ul {
        list-style: none;

        li {
            margin: 0 10px;
            display: inline-block;
            padding: 10px;

            a {
                text-decoration: none;
                color: white;
                font-size: 22px;
                transition: 0.4s;
                border-radius: 15px;
                display: inline-block;
                // background-color: black;
                padding: 10px 15px;

                &:hover {
                    background-color: black;
                }
            }
        }
    }

}