// Webpage Styles Reset
// Import base reset code
@forward "./base/reset";

// Import Base variables
@forward "./base/variables";

// Use Primary Utility Variables
@use "./utils/primary-variables" as variables;


// Mixins for Button
@mixin primary-button($color) {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    background-color: $color;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}


body {
    background-color: variables.$primary-color;
}

h1 {
    font-size: variables.$primary-heading;
}

// Nav Section Styles

nav {
    background-color: cadetblue;

    ul {
        list-style: none;

        li {
            margin: 0 10px;
            display: inline-block;
            padding: 10px;

            a {
                text-decoration: none;
                color: white;
                font-size: 22px;
                transition: 0.4s;
                border-radius: 15px;
                display: inline-block;
                // background-color: black;
                padding: 10px 15px;

                &:hover {
                    background-color: black;
                }
            }
        }
    }

}

p {
    font-size: variables.$base_text;

}

// Mixin to include
.click {
    @include primary-button(violet);

}

.order {
    @include primary-button(chocolate);
}